services:
  spalhad-node-0: &spalhad-node
    image: local/spalhad/server:latest
    pull_policy: never
    container_name: ${SPALHAD_NODE_PREFIX:-spalhad-node}-0
    environment: &spalhad-node-env
      SPALHAD_KV_DIR: true
      SPALHAD_SELF_ID: 0
      SPALHAD_LOG_LEVEL: trace
    volumes:
      - ./cluster.config.json:/spalhad/cluster.config.json
    ports:
      - "5500:5000"
    healthcheck:
      test:
        - CMD
        - bash
        - -c
        - |
          { echo -e "GET /spalhad/v1/sync/active HTTP/1.0\r\n" >&3 ; \
             cat <&3 | grep '{"is_active":true}' ; \
          } 3<> /dev/tcp/localhost/5000
      interval: 15s
      timeout: 5s
      retries: 5

  spalhad-node-1:
    <<: *spalhad-node
    container_name: ${SPALHAD_NODE_PREFIX:-spalhad-node}-1
    environment:
      SPALHAD_KV_DIR: true
      SPALHAD_SELF_ID: 1
      SPALHAD_LOG_LEVEL: trace
    ports:
      - "5501:5000"

  spalhad-node-2:
    <<: *spalhad-node
    container_name: ${SPALHAD_NODE_PREFIX:-spalhad-node}-2
    environment:
      SPALHAD_KV_DIR: true
      SPALHAD_SELF_ID: 2
      SPALHAD_LOG_LEVEL: trace
    ports:
      - "5502:5000"

  spalhad-node-3:
    <<: *spalhad-node
    container_name: ${SPALHAD_NODE_PREFIX:-spalhad-node}-3
    environment:
      SPALHAD_KV_DIR: true
      SPALHAD_SELF_ID: 3
      SPALHAD_LOG_LEVEL: trace
    ports:
      - "5503:5000"
